* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
  color: #000000;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  font-size: calc(10px + (14 - 10) * ((100vw - 400px) / (800 - 400)));
  font-family: sans-serif;
}

#root {
  display: flex;
  justify-content: center;
}

.container {
  width: 460px;
  padding: 10px;
  background-color: rgb(224, 222, 222);
  position: relative;
  overflow-y: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
}

.button-submit {
  width: 100px;
  height: 30px;
  background-color: rgb(5, 5, 216);
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
  padding: 7px;
  border: none;
  cursor: pointer;
  color: white;
}

.button-submit:hover {
  background-color: rgb(57, 57, 253);
}

.button-cancel {
  background-color: rgb(136, 10, 10);
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
  padding: 7px;
  border: none;
  cursor: pointer;
  color: white;
  width: 100px;
}

.add {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.button-cancel:hover {
  background-color: rgb(211, 10, 10);
}

.header__button a {
  color: rgb(252, 248, 248);
}

.add-advertisement {
  width: 460px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
  position: relative;
}

.add-advertisement__close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.add-advertisement__input {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none;
}

.add-advertisement__input__description {
  width: 100%;
  min-height: 300px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none;
}

.add-advertisement__input__price,
.add-advertisement__input__imageUrl {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none;
}

.add-advertisement__submit-contaiter {
  display: flex;
  justify-content: end;
}

.advertisement {
  margin-top: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
}

.advertisement__link {
  display: flex;
  gap: 10px;
}

.advertisement__img {
  width: 100px;
  height: 100px;
}

.advertisement__name {
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
}

.advertisement__description {
  font-size: 12px;
}

.advertisement__price {
  font-size: 15px;
  margin-top: 10px;
}

.advertisement__views {
  font-size: 12px;
  margin-top: 10px;
}

.advertisement__likes {
  font-size: 12px;
}

.advertisement__createdAt {
  font-size: 10px;
  margin-top: 10px;
}

.advertisement-view {
  position: relative;
  width: 460px;
  /* height: 200px; */
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.advertisement-view__close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.advertisement-view__content {
  padding: 20px;
  font-size: 15px;
}

.advertisement-view .advertisement__img {
  width: 300px;
  height: 400px;
  object-fit: cover;
}

.advertisement-view__created {
  padding: 10px;
  font-size: 10px;
}

.buttons {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.edit-advertisement {
  position: relative;
  width: 460px;
  background-color: white;
  padding: 30px 10px 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

.edit-advertisement__input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  outline: none;
}

.edit-advertisement__input__description {
  width: 100%;
  min-height: 300px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  outline: none;
  font-size: 15px;
}

.edit-advertisement__input__price {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  outline: none;
}

.edit-advertisement__input__imageUrl {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  outline: none;
}

.order__content {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
  margin-top: 5px;
  padding: 20px;
}

.order__button {
  height: 30px;
  background-color: rgb(5, 5, 216);
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
  padding: 7px;
  border: none;
  cursor: pointer;
  color: white;
  margin-top: 10px;
}

.advertisement__search {
  width: 100%;
  padding: 5px;
  outline: none;
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
  margin-top: 10px;
}

.advertisements__count__title,
.advertisements__count {
  display: inline-block;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

.order__status__title,
.order__status__content,
.order__sum__title,
.order__sum__content {
  display: block;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  width: 200px;
}

.filters {
  display: flex;
  justify-content: space-between;
}

.hidden {
  display: none;
}

@media screen and (max-width: 400px) {
  body {
    font-size: 10px;
  }
}

@media screen and (min-width: 800px) {
  body {
    font-size: 14px;
  }
}
